# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code settings
.vscode/

# Mac OS files
.DS_Store

# Windows files
Thumbs.db

# CMake build directory
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Other
*.log
*.tmp 